<div id="<%= dom_id blog %>">
  <p>
    <strong>Author:</strong>
    <%= blog.author %>
  </p>

  <p>
    <strong>Authors email:</strong>
    <%= blog.authors_email %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Desciption:</strong>
    <%= blog.desciption %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= blog.pages %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= blog.release_date %>
  </p>

</div>
