<div class="for_home">
    <%= button_to "Add New Blog" , new_blog_path, method: :get  %>
    <form class="d-flex" action="/search" >
        <input class="form-control me-2" style="border-bottom:2px solid black" type="search" name="query" placeholder="Search here...." aria-label="Search" >
        <button class="btn btn-outline-success" type="submit" style="height:20px">Search</button>
    </form>
    <%= button_to "My Blog" , my_blog_path, method: :get  %>
    <%= button_to "Liked Blogs" , mylike_path, method: :get  %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>

    <%# <button class="addnewblock"><%= link_to "My Blog" , new_blog_path  %>    
</div>


<%= notice %>
<br>            
<br>
<h1 style=" text-align:center; margin-top:100px;" >Listing all Blogs</h1>
<form method="get" action="">
    <select name="filter" style="background-color: transparent;">
        <option hidden>filter here</option>
        <option value="title">titles</option>
        <option value="author">authors</option>
        <option value="created_at">created_at</option>
    </select>
    <button type="submit">submit</button>
</form>
<br>
<br>
<table border="3">
    <thead>
        <th>Author Name</th>
        <th>Email</th>
        <th>Blog Title</th>
        <th>Category</th>
        <th colspan="3" >Action</th>

    </thead>
    <tbody>
        <% @blog.each do |a|%>
        <tr class="row">
            <td><%= a.author %></td>
            <td><%= a.authors_email %></td>
            <td><%= a.title %></td>
            <td><%= a.category %></td>
            <td><%= link_to "view" , a %></td>
            

        </tr>
        <%end%>
    </tbody>
</table>
 



